.sprv4 {
    max-width: 660px;
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
}

.page_4-text {
    max-width: 545px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
}