:root {
    --main-bg-color: #283b53;
    --main-color: #e3e6e9;
    font-size: calc(0.5em + 1vw);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 18px / 27px 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--main-bg-color);
    color: var(--main-color);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: var(--main-bg-color);
    opacity: 0.7;
}

.uk-navbar-nav>li>a {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 400;
}

.__form a,
.__form.uk-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}

.__form a:hover,
.__form.uk-link:hover {
    border-bottom: 2px solid #fff;
}

.agreement a,
.agreement.uk-link {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.agreement a:hover,
.agreement.uk-link:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    cursor: pointer;
}

.uk-navbar-nav>li:hover>a {
    color: var(--main-color);
    border-bottom: 2px solid #e3e6e9;
}

.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>a.uk-open {
    color: var(--main-color);
    outline: none;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
    margin: 115px 0 0 0;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
    margin: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    font-weight: normal;
    color: #ffffff;
    text-transform: none;
}

.uk-text-large {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.uk-text-small {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
}

.video-card-text h3.uk-card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}

.video-card-text p.uk-width-2-1 {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.uk-light .uk-button-primary,
.uk-section-primary:not(.uk-preserve-color) .uk-button-primary,
.uk-section-secondary:not(.uk-preserve-color) .uk-button-primary,
.uk-tile-primary:not(.uk-preserve-color) .uk-button-primary,
.uk-tile-secondary:not(.uk-preserve-color) .uk-button-primary,
.uk-card-primary.uk-card-body .uk-button-primary,
.uk-card-primary> :not([class*='uk-card-media']) .uk-button-primary,
.uk-card-secondary.uk-card-body .uk-button-primary,
.uk-card-secondary> :not([class*='uk-card-media']) .uk-button-primary,
.uk-overlay-primary .uk-button-primary,
.uk-offcanvas-bar .uk-button-primary {
    background-color: #295b7f;
    color: #fff;
    border-radius: 10px;
}

.video-card-text {
    background-color: #27394f;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.toggle.uk-navbar-toggle {
    color: #fff;
}

.toggle.uk-offcanvas {
    position: static;
}

.uk-offcanvas-bar {
    opacity: 0.9;
    margin-top: 80px;
}

.bg-image [class*='uk-width'] {
    box-sizing: border-box;
    width: 100%;
}

.as-social [class*=as-icon-] {
    color: #fff;
    background-color: #1e87f0;
    border-radius: 50%;
    transition-property: border-radius, background-color;
}

.as-icon-facebook:hover {
    background-color: #3B5999
}

.as-icon-youtube:hover {
    background-color: #FF0000
}

.as-icon-instagram:hover {
    background-color: #DB307F
}

.as-icon-twitter:hover {
    background-color: #3FACE2
}

.as-icon-vk:hover {
    background-color: #5181B8
}

.as-icon-odnoklassniki:hover {
    background-color: #F58220
}

.as-icon-whatsapp:hover {
    background-color: #3EE25B
}

.as-icon-viber:hover {
    background-color: #7B519D
}

.as-icon-telegram:hover {
    background-color: #24A1DE
}

[class*=as-icon-]:hover {
    color: #fff;
    border-radius: 6px
}

@media (min-width: 960px) {
    .bg-image h1,
    .bg-image p {
        max-width: 50%;
    }
    .text-size-title {
        font-size: 36px;
    }
    .text-size {
        font-size: 24px;
    }
    h1,
    .uk-h1 {
        font-size: 36px;
        font-weight: 900;
    }
}

@media (max-width: 960px) {
    h1,
    .uk-h1 {
        font-size: 30px;
        font-weight: 700;
    }
}

@media (max-width:500px) {
    .video-width {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .video-card-text h3.uk-card-title {
        font-size: 12px;
        font-weight: 300;
    }
    .video-card-text {
        width: 100%;
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 8%;
    }
    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5em;
    }
}

@media (min-width:250px) {
    .body {
        margin-right: 0;
    }
    .bg-image {
        max-width: 100%;
    }
    .uk-margin-medium-left {
        margin-left: 0;
    }
    .text-size-title {
        font-size: 16px;
    }
    .text-size {
        font-size: 12px;
    }
    .video {
        max-width: 100%;
        margin-left: 0;
    }
    footer h1 {
        font-size: 24px;
    }
}

@media (min-width:640px) {
    .text-size-title {
        font-size: 30px;
    }
    .text-size {
        font-size: 20px;
    }
}